*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Dark-Grayish-Blue: hsl(201, 11%, 66%);
    --Strong-Cyan: hsl(171, 66%, 44%);
    --very-Strong-Cyan: hsl(171, 86%, 42%);
    --Light-Blue: hsl(233, 100%, 69%);
    --very-Light-Blue: hsl(233, 100%, 63%);
    --black: hsl(240, 4%, 17%);
    --white: hsl(0, 0%, 100%);
    --light-grey:hsl(210, 7%, 88%);;
}

body{
    font-size: 19px;
    /* font-family: 400; */
}

a{
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
}

/* header */

header{
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    height: 25rem;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-img > img{
    padding-top: 30px;
}


.history-text > h1{
    text-align: center;
    color: var(--black);
    font-family: 600;
    margin-top: 50px;
}

.history-text > p{
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    margin-top: 1rem;
}

.history-btn{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.history-btn > a{
        padding: 10px 40px;
        text-decoration: none;
        color: var(--white);
        border-radius: 18px;
}

.Ios{
    background-color: var(--very-Strong-Cyan);
    box-shadow: 1px 0px 2px 0px var(--very-Strong-Cyan);
}

.Ios:hover{
    background-color: var(--Strong-Cyan);
}

.Mac{
    background-color: var(--very-Light-Blue);
    box-shadow: 1px 0px 2px 0px var(--very-Light-Blue);
}

.Mac:hover {
    background-color: var(--Light-Blue);
}

/* body */

main{
    width: 100%;
    margin: 0;
    margin-top: 0;
}

.snippets{
    padding-top: 6rem;
    text-align: center;
    width: 100%;
    padding-bottom: 3rem;
}

.snippets >h2{
    color: var(--black);
}

.snippets > p{
    color: var(--Dark-Grayish-Blue);
    margin-top: 1rem;

}


.main-div-2{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.div-2-img{
    width: 100%;
}

.div-2-img > img{
    object-fit: contain;
}


.div-2-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 20px;
}

.text > h2{
    color: var(--black);
}

.text > p{
    color: var(--Dark-Grayish-Blue);
}

.main-div-3{
    text-align: center;
    margin-top: 4rem;
}

.main-div-3 > h3{
    color: var(--black);
}

.main-div-3 > p{
    color: var(--Dark-Grayish-Blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-div-4{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-4-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-4-img > img{
    object-fit: contain;
}

.main-div-6{
    display: flex;
    padding: 40px;
    gap: 1rem;
    width: 100%;
}

.div-6-offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.offer-text > h2{
    color: var(--black);
}

.offer-text > p{
    color: var(--Dark-Grayish-Blue);
    margin-top: 1rem;
    letter-spacing: 1px;
}


.main-div-7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 10px;
    margin-top: 4rem;
}

.main-div-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.div-8-text{
    text-align: center;
}

.div-8-text > h2{
    color: var(--black);
}

.div-8-text > p{
    color: var(--Dark-Grayish-Blue);
    margin-top: 1rem;
}

footer{
    width: 100%;
    background-color: var(--light-grey);
    padding: 15px;
}

.footer-div-1{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.footer-1-img > img{
    width: 3rem;
}


.footer-2-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-link > a:hover{
    color: var(--very-Strong-Cyan);
}

.install{
    margin-left: 2rem;
}


.footer-5-socials{
    display: flex;
    gap: 1.5rem;
    margin-left: 5rem;
}

.footer-social > a:hover{
    color: var(--very-Strong-Cyan);
}

/* media query */

@media screen and (max-width: 480px){
    header{
        background-image: url("../images/bg-header-mobile.png");
        background-size: cover;
        height: 40rem;
    }

    .history-btn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Ios{
        width: 100%;
        text-align: center;
    }

    .Mac{
        width: 100%;
        text-align: center;
    }

    .main-div-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div-2-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-2-img > img{
        width: 70%;
    }

    .text{
        text-align: center;
    }

    .main-div-6{
        display: flex;
        flex-direction: column;
    }

    .main-div-7{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-div-1{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
        gap: 1rem;
    
    }

  .footer-link{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .install{
    margin-left: 0;
  }

  .footer-5-socials{
    margin-left: 0;
  }

}


@media screen and (max-width:768px) {
    .main-div-7{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .main-div-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div-2-img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-2-img > img{
        width: 80%;
    }

    .text{
        text-align: center;
    }
}


